.title {
	margin-top: 2rem;
	background-color: rgba(255, 255, 255, 0.9);

	> h1 {
		text-align: center;
	}
}

.thumbnails {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> .thumbnail {
		width: 18rem;
		height: 18rem;

		> img {
			cursor: pointer;
		}

		> .text {
			text-align: center;
		}
	}
}

.flyout {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1;
	display: flex;
	flex-direction: column;

	> .close-button {
		position: absolute;
		right: 5rem;
		top: 2rem;
		cursor: pointer;

		> .fa {
			color: white;
		}
	}

	> img {
		height: 80%;
		margin: auto;
	}

	> .text {
		position: absolute;
		width: 100%;
		
		> h1 {
			color: white;
			text-align: center;
		}
	}
}