.title 
	h1 One image per day

.thumbnails
	.thumbnail(*ngFor="let hour1400File of hour1400Files")
		img([src]="getImagePath(hour1400File)", (click)="clickImage(hour1400File)")
		.text {{hour1400File.dateTaken | date:'d MMM y'}}

.flyout(*ngIf="flyoutImage")
	.text
		h1 {{this.flyoutImage.dateTaken | date:'d MMM y'}}
	.close-button((click)="removeFlyout()")
		.fa.fa-3x.fa-times-circle-o
	img([src]="showImage(flyoutImage)")
	