.title
	h1 Destruction and creation

.activities
	.activity
		.image
			.fa.fa-play.fa-3x
		.description
			.title Build1
	.activity
		.image
			.fa.fa-play.fa-3x
		.description
			.title Build2
	.activity
		.image
			.fa.fa-play.fa-3x
		.description
			.title Build3