.background
	.container
		.title
			h1 Destruction and creation

	.container
		.activities
			.activity
				.image
				.description
					.title Build1
			.activity
				.image
				.description
					.title Build2
			.activity
				.image
				.description
					.title Build3