# Load WinSCP .NET assembly
[Reflection.Assembly]::LoadFrom("\\c:\Program Files (x86)\WinSCP\WinSCPnet.dll") | Out-Null 

# Session.FileTransferProgress event handler
 
function FileTransferProgress {
	param($e)
 
	# New line for every new file
	if (($script:lastFileName -ne $Null) -and
		($script:lastFileName -ne $e.FileName)) {
		Write-Host
	}
 
	# Print transfer progress
	Write-Host -NoNewline ("`r{0} ({1:P0})" -f $e.FileName, $e.FileProgress)
 
	# Remember a name of the last file reported
	$script:lastFileName = $e.FileName
}

# Set up session options
$sessionOptions = New-Object WinSCP.SessionOptions -Property @{
	Protocol              = [WinSCP.Protocol]::Scp
	HostName              = "host"
	PortNumber            = 2121
	UserName              = "user"
	Password              = "password"
	SshHostKeyFingerprint = "ssh-ed25519 256 print"
}

$session = New-Object WinSCP.Session

try {
	# Will continuously report progress of transfer
	$session.add_FileTransferProgress( { FileTransferProgress($_) } )

	# Connect
	$session.Open($sessionOptions)

	$session.ExecuteCommand("pm2 stop x").Check()

	# Transfer files
	$remotePath = "/remoteDir/TimelapseMP4Webpage/*"
	$session.PutFiles("workingDir\publish\*", "/home/timdows/TimelapseMP4Webpage/*").Check()

	$session.ExecuteCommand("pm2 start x").Check()
}
finally {
	$session.Dispose()
}